<div id="modal" class="hide">
  <div class="content">
    <h1>Nova ideia</h1>
    <form action="/" method="POST" onsubmit="return checkFilds(event)">
      <div class="input-wrapper">
        <label for="title">Digite o titulo da idea aqui :</label>
        <input type="text" name="title" id="title-idea" />
      </div>

      <div class="input-wrapper">
        <label for="category">Digite a categoria da idea aqui :</label>
        <input type="text" name="category" id="category-idea" />
        <!-- <p>sugestão para icones <a href="https://www.flaticon.com/packs/science-fiction-avatars-24"
          target="_blank">aqui</a>(nova janela automatica)</p> botão causando vazamento, conserta caso queira que seja mostrado -->
      </div>

      <div class="input-wrapper">
        <label for="description">Entre com a descrição da ideia aqui :</label>
        <textarea
          name="description"
          cols="30"
          rows="7"
          id="description-idea"
        ></textarea>
      </div>

      <div class="input-wrapper">
        <label for="image">Entre com a url da imagem aqui :</label>
        <input type="url" name="image" id="image-idea" />
      </div>

      <div class="input-wrapper">
        <label for="link">Entre com a url da ideia :</label>
        <input type="url" name="link" id="link-idea" />
      </div>

      <a href="#" onclick="onOff()">voltar</a>
      <!-- <a href="#"  onclick="" id="button-salvar">Salvar</a> -->
      <!-- fazer com esse botão -->
      <a class="a-button" type="submit">Salvar</a>
      <!-- esse faz a ação de enviar os dados -->
      <!-- <button type="submit">Salvar</button> -->
      <!-- <button id="form-button-salvar">Salvar</button> -->
    </form>
  </div>
</div>
